// primary
$primary-black-color: #181b1d;
$primary-gray-dark-color: #1f2224;
$primary-gray-color: #2a2e30;
$primary-white-color: #fff;
$primary-blue-more-color: #285ddf;
$primary-blue-color: #2c68fa;
$primary-blue-less-color: #487cfd;
$primary-blue-25-color: rgba(#2c68fa40, 25%);

// secondary
$secondary-red-more-color: #c13c3c;
$secondary-red-color: #ff4e4e;
$secondary-red-less-color: #f46f6f;
$secondary-red-25-color: rgba(#f14b4b40, 25%);
$secondary-purple-color: #9180ff;

// overlay white
$overlay-white-75-color: rgba(#ffffffbf, 75%);
$overlay-white-50-color: rgba(#ffffff80, 50%);
$overlay-white-25-color: rgba(#ffffff40, 25%);

// overlay dark
$overlay-dark-75-color: rgba(#1f2224bf, 75%);
$overlay-dark-50-color: rgba(#1f222480, 50%);
